html{
    background-color: white;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(100, 96, 96);
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;

}
h1{
    color: #f59a12;
    font-style: italic;
    font-family: Arial, Helvetica, serif;


}

.logo {
    
    height: 70px;
    border-radius: 50%;
    background-color: rgb(250, 250, 244);
    border: 0;

}

.upper_overall {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(250, 250, 244);
    margin: 0;
    padding: 0;
}

.demo {
    background-color: seagreen;
    border: 0;
    margin-top: 30px;
    padding: 1rem;
    border-radius: 30%;
    color: white;
}

.bodi {
    display: inline-flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, serif;
    max-width: 100%;

    
}

.one {
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
    float: right;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    max-width: 100%;
    text-align: right;
}

.two {
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
    float: right;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    max-width: 100%;
    text-align: center;
}

.two {
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
    float: right;
    align-items: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.one img {
    max-width: 100%;
    float: right;
}
.two img {
    max-width: 100%;
    float: left;
}
.three img {
    max-width: 100%;
    float: right;
}
.flooww-2 {
    max-width: 100%;
   
}

.flooww-2 img {
    max-width: 100%;
    float: right;
}

.flooww-3 {
    max-width: 100%;
}

.flooww-3 img {
    max-width: 100%;
    float: left;
}

.heroes{
    background-color: white;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    color: rgb(100, 96, 96);
    font-family: Arial, Helvetica, serif;

}


.hero-demo{
    border-radius: 0.75rem;
    background-color: seagreen;
    text-align: center0;
    color: white;
    border-color: white;
    padding: 1rem;
    border: 0;
    font-family: Arial, Helvetica, serif;

}

.hero-contact{
    border-radius: .75rem;
    background-color: #f59a12;
    text-align: center0;
    color: black;
    border-color: white;
    padding: 1rem;
    border: 0;
    
}

.call-to-action{
    display: inline-flex;
    width: 100%;
    gap: 2rem;
    margin-bottom: 20px;
    justify-content: center;
    font-family: Arial, Helvetica, serif;
}


.heroes h2{
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 25px;
    font-size: xx-large;
    font-family: Arial, Helvetica, serif;
    font-weight: bolder;
    font-style: italic;
    justify-content: center;
}

.heroes p{
    
    text-align: center;
    padding-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: normal;
    font-family: Arial, Helvetica, serif;
    
}
.paras {
    display: inline-block;
    justify-content: left;
    width: 100%;
    font-family: Arial, Helvetica, serif;
    flex-wrap: wrap;
}

.upper-sunrise {
    display: flex;
    width: 100;
    justify-content: center;
}

.sunrise {
    width: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
    border-radius: 2.8%;
}
.housing {
    display: inline-flex;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, serif;
    flex-wrap: wrap;
    max-width: 100%;
}

.housing p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, serif;
    flex-wrap: wrap;
    max-width: 100%;
}

.before-footer {
    display: inline-flex;
    justify-content: space-around;
    gap: 5px;
    background-color: #2c2c2c;
    flex-wrap: wrap;
    width: 100%;
}

.b4-footer h2 {
    display: inline-flex;
    color: #f59a12;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 35px;
    margin: 0;
    justify-content: left;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, serif;
    box-sizing: border-box;
}

.b4-footer li {
    text-align: left;
    display: flex;
    justify-content: left;
    list-style: none;
    color: white;
    margin: 0;
    padding-top: 0;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, serif;
    gap: 1rem;
    box-sizing: border-box;
    width: 100%;

}

.line {
    margin: 0;
    padding: 0;
    border-color: white;
}
footer {
    background-color: #2c2c2c;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: space-evenly;
    color: aliceblue;
    padding-top: 20px;
    align-items: center;
    margin-top: 0;
    padding-top: 15px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, serif;
    
}
.strongg {
    color: #f59a12;
    font-family: Arial, Helvetica, sans-serif;
}

.SM {
    justify-content: end;
    color: #f59a12;
    align-items: end;
    margin-bottom: 0;
    padding-bottom: 0;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, serif;

}

<!-- /*sheet2 content starts*/-->

/* UTILITIES*/
body{
    font-family: Arial, Helvetica, serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/*NAVBAR STYLING STARTS*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 250, 244);
    color: seagreen;
    padding: 10px;
}

.nav-links a {
    color: rgb(100, 96, 96);
}

.logo {
    
  border-radius: 50%;
  background-color: rgb(250, 250, 244);
  border: 0;
  margin-top: 20px;

}

/* NAVBAR MENU*/

.menu{
  
    list-style: none;
    display: inline-flex;
    gap: 2rem;
    margin-top: 30px;
    flex-wrap: 20px;
}

.menu li:hover{
    background-color: rgb(236, 211, 191);
    transition: 0.3s ease;
    border-radius: 5px;
}

.menu li {
    padding: 10px 14px;
}

/* DROPDOWN MENU*/
.products{
    position: relative;
}


.dropdown{
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    top: 45px;
    background-color: rgb(235, 236, 213);
    display: none;
    border-radius: 8px;
}

.dropdown li + li{
    border-top: 10px;
}

.dropdown li{
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover{
    background-color: rgb(176, 180, 178);

}

.products:hover .dropdown{
    display: block;
}


/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
  } 
  
  /* HAMBURGER MENU */
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  
  /* APPLYING MEDIA QUERIES */
  @media (max-width: 768px) {
   .menu {
      display:none;
      position: absolute;
      background-color:rgb(235, 241, 241);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
      margin-top: 20px;
    }
  
    .menu li:hover {
      display: inline-block;
      background-color:#4c9e9e;
      transition: 0.3s ease;
    }
  
    .menu li + li {
      margin-top: 12px;
    }
  
    input[type=checkbox]:checked ~ .menu {
      display: block;
    }
  
    .hamburger {
      display: block;
    }
  
    .dropdown {
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }
  
    .dropdown li:hover {
      background-color: #4c9e9e;
    }
  }